<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IndiaDeals2Day.DataAccessComponents.Properties.Settings.IndiaDeals2DayConnectionString"
            connectionString="Data Source=rammohan;Initial Catalog=IndiaDeals2Day;Persist Security Info=True;User ID=sa;Password=India2013"
            providerName="System.Data.SqlClient" />
        <add name="IndiaDeals2Day.DataAccessComponents.Properties.Settings.IndiaDeals2DayConnectionString1"
            connectionString="Data Source=rammohan;Initial Catalog=IndiaDeals2Day;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="IndiaDeals2Day.DataAccessComponents.Properties.Settings.IndiaDeals2DayConnectionString2"
            connectionString="Data Source=DELL\SQLSERVER;Initial Catalog=IndiaDeals2Day;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="IndiaDeals2Day.DataAccessComponents.Properties.Settings.Id2dConnectionString"
            connectionString="Data Source=Id2d.db.11849700.hostedresource.com;Initial Catalog=Id2d;User ID=Id2d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>